<h3>List of Heroes</h3>

<div *ngIf="deletedHero else nothingWasDeleted">
    <h3>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h3>
</div>

<ng-template #nothingWasDeleted>
    <H3>No ha borrado nada.</H3>
</ng-template>

<button
    *ngIf="heroNames.length > 0"
    (click)="removeLastHero()" 
    class="btn btn-outline-danger">
    Borrar Ultimo Heroe
</button>

<ul class="mt-2 list-group">
    <li class="list-group-item" *ngFor="let hero of heroNames">{{ hero}}</li>
</ul>